footer.bg-gradient
  .container
    .footer-top
      .footer-col
        h2 О нас
        a(href="#") История компании
        a(href="#") Карьера
        a(href="#") Особенности
        a(href="#") Пресса
      .footer-col
        h2 Поддержка
        a(href="#") База знаний
        a(href="#") Тарифы
        a(href="#") Мобильное приложение
        a(href="#") Условия использования
      .footer-col
        h2 Контакты
        p hello@music.box
        p Russia, Moscow. Music Box studio
        p + 7 499 999 99 99
      .footer-col
        h2 Подписывайтесь
        .footer-icon
          img(src="./images/Google+.png" alt="Google+")
          img(src="./images/Twitter.png" alt="Twitter")
  hr
  .container
    .footer-bottom
      p Магазин
      p Обслуживание
      p Блог
      p Поддержка
      p Контакты