header
  nav.common-group
    .nav-group
      .logo-group
        img(src="./images/logo.svg" alt="logo" width="24px" height="24px")
        a(href="#") Music Box
      .link-group
        a(href="#") Главная
        a(href="#") Каталог
        a(href="#") Исполнители
        a(href="#") Контакты

    input.header-input(type="text" id="search" placeholder="Поиск...")
    label.sr-only(for="search") Поиск
