section#page-description
  .banner
    .container
      .banner-group
        h1 Онлайн музыка где угодно
        h2 без ограничений
        .p-group
          p Получите доступ всего за несколько шагов.
          p Заполните форму ниже и откройте мир музыки
        form.form-group
          .input-group
            input.input-p-description(type="text" id="name" placeholder="Имя")
            label.sr-only(for="name") name
            input.input-p-description(type="text" id="email" placeholder="Email")
            label.sr-only(for="email") email
          button.btn-p-description(type="submit") Получить доступ