.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  padding: 3rem 100px 4.5rem;
  @extend %row;
  gap: 2.5rem;
}

.footer-col {
  h2 {
    @include mg-reset;
    padding-bottom: 1rem;
    font: 18px/27px "Roboto Bold", sans-serif;
    color: $white;
  }

  p {
    @include mg-reset;
  }

  a {
    text-decoration: none;
    color: $text;
  }

  min-width: 270px;
  @extend %col;
}

.footer-icon {
  @extend %row;
  gap: 1.5rem;
}

.footer-bottom {
  padding: 2.5rem 100px 3rem;
  @extend %row;
  gap: 1rem;

  p {
    @include mg-reset;
  }
}

hr {
  @include mg-reset;
}

@media (max-width: 768px) {
  .footer-top {
    padding: 4rem 20px 4.5rem;
    flex-direction: column;
    gap: 30px;
  }

  .footer-bottom {
    padding: 3.5rem 20px 4rem;
    flex-direction: column;
  }
}
