header {
  position: absolute;
  top: 25px;

  width: 100vw;

  z-index: 2;
}

nav a {
  font: 11px/16.5px "Roboto Bold", sans-serif;
  color: $text;
  text-transform: uppercase;
  text-decoration: none;
}

.common-group {
  @extend %row;
  justify-content: space-between;
  align-items: center;
}

.nav-group {
  @extend %row;
  align-items: center;
  gap: 90px;

  padding-left: 120px;
}

.logo-group {
  @extend %row;
  align-items: center;
  gap: 16px
}

.link-group {
  @extend %row;
  gap: 24px
}

.header-input {
  margin-right: 120px;
  width: 250px;
  height: 25px;
  position: relative;
  padding-left: 10px;

  color: var(--text);
  text-transform: uppercase;

  border: 0;
  border-radius: 20px;

  background-color: $dark-transparent;
}

@media (max-width: 768px) {
  header {
    padding: 0 20px;
    width: auto;
  }
  .common-group {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }

  .nav-group {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;

    padding-left: 0;
  }

  .link-group {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  .header-input {
    margin-right: 0;
    width: 362px;
  }
}