section#page-news
  .container.bg-dark
    h2.common-news-header Последние новости
    .news-item
      img(src="./images/Music to Be Murdered By.png" alt="Music to Be Murdered By")
      .news-body
        h3.news-header Music to Be Murdered By
        .news-text Новый альбом Eminem «Music to Be Murdered By» уже доступен в нашем сервисе. На альбоме вас ждёт 20 новых треков.
        .news-footer
          .news-author
            img(src="./images/avatar.png" alt="avatar")
            .name-author music box 
            .date 17/01/2020
          a.news-btn(href="#") К альбому
    .news-item-reverse
      img(src="./images/Ordinary Man.png" alt="Music to Be Murdered By")
      .news-body
        h3.news-header Ordinary Man
        .news-text Легенда рока Оззи Озборн спустя 10 лет выпустил новый альбом Ordinary Man. Слушайте в числе первых на Music Box
        .news-footer 
          .news-author
            img(src="./images/avatar.png")
            .name-author music box 
            .date 24/02/2020
          a.news-btn(href="#") К альбому
