section#page-app
  .container.bg-dark
    h2.header-app Мобильное приложение
    .app-body
      .text-app
        p.text Воспользуйтесь нашим мобильным приложением. Оно позволит слушать музыку с любого устройства на базе операционных систем Androind и iOS
        p.text С тарифом «Премиум» приложение позволяет скачивать все композиции из нашей коллекции. Вы можете слушать музыку даже без интернета.
        a.btn-app(href="#") Скачать
      img(src="./images/iphone.png" alt="iphone")
