@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}

.artists, .albums, .block-img, .track-item, .tracks, .btn-artist, .artist-links, .footer-bottom, .footer-icon, .footer-top, .app-body, .news-author, .news-item-reverse, .news-item, .price, .carts, .input-group, .p-group, .link-group, .logo-group, .nav-group, .common-group {
  display: flex;
  flex-direction: row;
}

.artist, .album, .name, .footer-col, .text-app, .news-footer, .pricing-item, .form-group, .banner-group {
  display: flex;
  flex-direction: column;
}

.pricing-item, .banner-group {
  align-items: center;
  padding: 0 1rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
  line-height: 1.5;
  color: #CACACA;
  background-color: #3C3B3D;
}

h1 {
  font: 60px/90px "Roboto Bold", sans-serif;
  text-transform: uppercase;
}

h2 {
  font: 38px/57px "Roboto Bold", sans-serif;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  padding: 100px 200px 0 20px;
}

.bg-dark {
  background-color: #08020D;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (width <= 768px) {
  h1 {
    font: 30px/45px "Roboto Bold", sans-serif;
  }

  h2 {
    font: 18px/27px "Roboto Bold", sans-serif;
  }

  .container {
    padding: 0 20px;
  }
}

header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 2;
}

nav a {
  font: 11px/16.5px "Roboto Bold", sans-serif;
  color: #CACACA;
  text-transform: uppercase;
  text-decoration: none;
}

.common-group {
  justify-content: space-around;
  align-items: center;
}

.nav-group {
  align-items: center;
  gap: 90px;
}

.logo-group {
  align-items: center;
  gap: 16px;
}

.link-group {
  gap: 24px;
}

.header-input {
  width: 250px;
  height: 25px;
  position: relative;
  padding-left: 10px;
  color: var(--text);
  text-transform: uppercase;
  border: 0;
  border-radius: 20px;
  background-color: #3C3B3D;
}

@media (width <= 768px) {
  header {
    padding: 0 20px;
  }

  .common-group {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }

  .nav-group {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }

  .link-group {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
}

.banner {
  position: relative;
  margin-bottom: -100px;
  padding: 200px 0 400px;
  z-index: 1;
}

.banner h1, .banner h2 {
  margin: 0;
  text-align: center;
}

.banner::before {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  content: "";
  z-index: -1;
}

.banner-group {
  color: #fff;
}

.p-group {
  margin-top: 1.5rem;
  gap: 5px;
  text-align: center;
}

.form-group {
  max-width: 570px;
}

.input-group {
  justify-content: space-between;
  gap: 1.5rem;
}

.input-p-description {
  position: relative;
  min-width: 244px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: solid 2px #CACACA;
  border-radius: 3px;
  background-color: transparent;
}

.input-p-description::placeholder {
  color: #fff;
}

.btn-p-description {
  padding: 20px 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #34C176;
  border-radius: 5px;
}

@media (width <= 768px) {
  .banner-group {
    padding-top: 78px;
    flex-direction: column;
  }

  .p-group {
    margin-top: 1rem;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .p-group p {
    margin: 0;
    font: 14.5px/22px "Roboto Regular", sans-serif;
  }

  .form-group {
    width: 100%;
    margin-top: 1rem;
  }

  .input-group {
    flex-direction: column;
    gap: 0;
  }

  .btn-p-description {
    width: auto;
  }
}

.pricing-header {
  margin: 0 0 3rem;
  text-align: center;
  color: #fff;
}

.carts {
  margin-bottom: 2.5rem;
  gap: 50px;
}

.pricing-item {
  color: #fff;
}

.cart-header {
  margin: 1rem;
  padding-bottom: 200px;
  font-weight: 400;
  text-transform: uppercase;
}

.bg-free {
  position: relative;
  z-index: 1;
}

.bg-free::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
  content: "";
  z-index: -1;
}

.bg-standart {
  position: relative;
  z-index: 1;
}

.bg-standart::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
  content: "";
  z-index: -1;
}

.bg-premium {
  position: relative;
  z-index: 1;
}

.bg-premium::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
  content: "";
  z-index: -1;
}

.price {
  margin-bottom: 2.5rem;
  align-items: start;
  gap: 1rem;
}

.pricing-value {
  font-size: 64px;
}

.pricing-currency {
  padding-top: 1rem;
  font-size: 32px;
  text-transform: uppercase;
}

.pricing-btn {
  min-width: 270px;
  margin-bottom: 4rem;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: solid 2px #CACACA;
  border-radius: 3px;
  background-color: transparent;
}

.pricing-footer {
  margin-bottom: 4rem;
  font: 13.2px/19.2px "Roboto Regular", sans-serif;
  text-align: center;
}

@media (width <= 768px) {
  .carts {
    flex-direction: column;
  }
}

.text-pricing {
  text-align: center;
}

.common-news-header {
  margin: 0 0 3rem;
  color: #fff;
  text-align: center;
}

.news-item {
  margin-bottom: 65px;
  gap: 50px;
}

.news-item-reverse {
  flex-direction: row-reverse;
  gap: 50px;
}

.news-header {
  font: 30px/45px "Roboto Regular", sans-serif;
  color: #fff;
}

.news-text {
  margin-bottom: 1.5rem;
}

.news-author {
  gap: 1rem;
}

.name-author {
  color: #F89202;
  text-transform: uppercase;
}

.news-btn {
  max-width: 135px;
  margin-top: 3rem;
  padding: 16px 30px;
  color: #CACACA;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: solid 2px #CACACA;
  border-radius: 3px;
  background-color: transparent;
}

@media (width <= 768px) {
  .news-header {
    font: 16px/24px "Roboto Regular", sans-serif;
    text-transform: capitalize;
  }

  .news-item, .news-item-reverse {
    flex-direction: column;
  }
}

.header-app {
  margin-bottom: 4rem;
  color: #fff;
  text-align: center;
}

.app-body {
  padding-bottom: 100px;
  gap: 9rem;
}

.text-app {
  gap: 1rem;
}

.text {
  max-width: 600px;
}

.btn-app {
  max-width: 70px;
  padding: 16px 40px;
  color: #fff;
  font-weight: 12.8px;
  text-decoration: none;
  border-radius: 32px;
  background-color: #95390C;
}

@media (width <= 768px) {
  .header-app {
    margin-bottom: 3rem;
  }

  .app-body {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  padding: 3rem 100px 4.5rem;
  gap: 2.5rem;
}

.footer-col {
  min-width: 270px;
}

.footer-col h2 {
  font: 18px/27px "Roboto Bold", sans-serif;
}

.footer-col p {
  margin: 0;
}

.footer-col a {
  text-decoration: none;
  color: #CACACA;
}

.footer-icon {
  gap: 1.5rem;
}

.footer-bottom {
  padding: 2.5rem 100px 3rem;
  gap: 1rem;
}

.footer-bottom p {
  margin: 0;
}

hr {
  margin: 0;
}

@media (width <= 768px) {
  .footer-top {
    padding: 4rem 20px 4.5rem;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-bottom {
    padding: 3.5rem 20px 4rem;
    flex-direction: column;
  }
}

.artist-banner {
  position: relative;
  margin-bottom: -100px;
  padding: 200px 0;
  z-index: 1;
}

.artist-banner h1 {
  margin: 0;
  color: #fff;
}

.artist-banner::before {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100%;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  content: "";
  z-index: -1;
}

.artist-banner-group {
  margin: 0 120px;
}

.artist-header {
  padding-top: 100px;
}

.artist-header h1 {
  color: #fff;
}

.artist-links {
  padding: 3rem 0 100px;
  gap: 1.5rem;
}

.btn-artist {
  width: 140px;
  padding: 20px 30px;
  gap: 1rem;
  background-color: #5328A1;
  border-radius: 5px;
}

.btn-artist a {
  font-size: 12.8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.btn-artist img {
  filter: invert(1) hue-rotate(180deg);
}

.btn-artist:nth-child(even) {
  background-color: #95390C;
}

@media (width <= 768px) {
  .artist-banner-group {
    margin: 0 20px;
  }

  .artist-header {
    padding-top: 0;
  }

  .artist-banner h1 {
    margin-top: 3.5rem;
  }

  .artist-links {
    flex-direction: column;
  }
}

.popular-header {
  margin: 0 0 3rem;
}

.tracks {
  padding-top: 1.5rem;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 25px;
}

.track-item {
  justify-content: space-between;
  align-items: center;
  min-width: 34.5rem;
  font: 12.8px/19.2px "Roboto Bold", sans-serif;
}

.track-item h3 {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

.track-item p {
  margin: 0;
}

.block-img {
  align-items: center;
  gap: 1rem;
}

@media (width <= 768px) {
  #page-popular-track h1 {
    font: 18px/27px "Roboto Bold", sans-serif;
  }

  .tracks {
    flex-direction: column;
    gap: 25px;
  }

  .track-item {
    min-width: 22.5rem;
  }
}

.discography-header {
  margin: 0;
  padding: 0 0 3rem;
  color: #fff;
}

.albums {
  padding-top: 3rem;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 25px;
}

.albums h3 {
  padding: 1rem 0 0;
  font: 18px/27px "Roboto Bold", sans-serif;
  text-transform: capitalize;
}

.albums p {
  margin: 0;
  font: 16px/24px "Roboto Regular", sans-serif;
  color: #E0E0E0;
}

.album {
  align-items: start;
}

@media (width <= 768px) {
  .albums img {
    width: 137px;
  }

  .albums h3 {
    width: 140px;
    word-break: keep-all;
    text-align: start;
  }
}

.similar-header {
  margin: 0;
  padding: 0 0 3 rem;
  color: #fff;
}

.artists {
  padding-bottom: 100px;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 25px;
}

.artist {
  align-items: center;
}

.artist h3 {
  padding: 1rem 0 0;
  color: #fff;
}

.artist p {
  margin: 0;
}

@media (width <= 768px) {
  .artists img {
    width: 137px;
  }

  .artists p {
    width: 140px;
    word-break: keep-all;
    text-align: center;
  }
}
