section#page-description
  .artist-banner
    .container
      .artist-header
        h1 Morten Harket
        p 24 875 поклонников
      .artist-links
        .btn-artist
          img(src="./images/play-button.svg" alt="play-button" width="20" color="#fff")
          a(href="#") МИКС
        .btn-artist
          img(src="./images/heart.svg" alt="heart" width="20")
          a(href="#") В ИЗБРАННОЕ