.common-news-header {
  margin: 0 0 3rem;
  color: $white;
  text-align: center;
}

.news-item {
  margin-bottom: 65px;
  @extend %row;
  gap: 50px;
}

.news-item-reverse {
  margin-bottom: 65px;
  @extend %row;
  flex-direction: row-reverse;
  gap: 50px;
}

.news-header {
  margin: 0 0 30px;
  font: 30px/45px "Roboto Regular", sans-serif;
  color: $white;
}

.news-text {
  margin-bottom: 1.5rem;
}

.news-author {
  margin-bottom: 3rem;
  @extend %row;
  gap: 1rem;
  font-size: 12.8px;
  line-height: 19.2px;
}

.name-author {
  color: $orange;
  text-transform: uppercase;

}

.news-btn {
  max-width: 105px;
  padding: 16px 30px;

  font-size: 12.8px;
  line-height: 19.2px;
  color: $text;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  
  border: solid 2px $text;
  border-radius: 3px;

  background-color: transparent
}

@media (max-width: 768px) {
  .common-news-header {
    padding-top: 100px;
  }
  
  .news-header {
    font: 16px/24px "Roboto Regular", sans-serif;
    text-transform: capitalize;
  }

  .news-item, .news-item-reverse {
    flex-direction: column;
  }
}