.banner {
  h1, h2 {
    @include mg-reset;
    text-align: center;
  }

  position: relative;
  margin-bottom: -100px;
  padding: 200px 0 300px;
  z-index: 1;
}

.banner::before {
  position: absolute;
  margin-top: -200px;

  width: 100%;
  height: 100%;

  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;

  content: "";

  z-index: -1;
}

.banner-group {
  @extend %col;
  @extend %flex-center;
  color: $white;
}

.p-group {
  @extend %row;
  padding-top: 1.5rem;
  gap: 5px;
  text-align: center;
}

.form-group {
  @extend %col;
  max-width: 570px;

}

.input-group {
  @extend %row;
  justify-content: space-between;
  gap: 1.5rem;
}

.input-p-description {
  position: relative;
  min-width: 244px;
  min-height: 50px;

  padding-left: 20px;
  margin-bottom: 1.5rem;

  border: solid 2px $text;
  border-radius: 3px;

  background-color: transparent;
}

.input-p-description::placeholder {
  color: $white;
}

.btn-p-description {
  padding: 20px 30px;

  text-transform: uppercase;
  color: $white;
  background-color: $green;

  border-radius: 5px;
}

@media (max-width: 768px) {
  .banner {
    padding-top: 200px;
  }
  .banner-group {
    flex-direction: column;
  }

  .p-group {
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
    
    p {
      @include mg-reset;
      font: 14.5px/22px "Roboto Regular", sans-serif;
    }

  }

  .form-group {
    width: 100%;
    padding-top: 1rem;
  }

  .input-group {
    flex-direction: column;
    gap: 0;
  }

  .btn-p-description {
    width: auto;
  }
}