.header-app {
  margin:0 0 4rem;
  color: $white;
  text-align: center;
}

.app-body {
  @extend %row;
  justify-content: space-between;
}

.text {
  max-width: 600px;
  margin: 0 0 1rem;
}

.btn-app {

  
  width: 51px;

  padding: 16px 40px;

  color: $white;
  font-size: 12.8px;
  line-height: 19.2;
  text-decoration: none;
  border-radius: 32px;

  background-color: $brown;
}

@media (max-width: 768px) {
  .header-app {
    padding-top: 100px;
  }
  .app-body {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

