doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portal Music box. Artist. Iaroslav Rusanov
    link(rel="stylesheet" href="./css/style.css")
  body
    include includes/header.pug
    include includes/artist/page-description.pug
    include includes/artist/page-popular-track.pug
    include includes/artist/page-discography.pug
    include includes/footer.pug