@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}

%row {
  display: flex;
  flex-direction: row;
}

%col {
  display: flex;
  flex-direction: column;
}

@mixin mg-reset {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto Regular", sans-serif;
  line-height: 1.5;
  color: $text;
  background-color: $background;
}

h1 {
  font: 60px/90px "Roboto Bold", sans-serif;
  text-transform: uppercase;
}

h2 {
  font: 38px/57px "Roboto Bold", sans-serif;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (max-width: 768px) {
  h1 {
    font: 30px/45px "Roboto Bold", sans-serif;
  }
  
  h2 {
    font: 18px/27px "Roboto Bold", sans-serif;
  }

  .container {
    width: auto;
    padding: 0 20px;
  }
}