$white: #fff!default;
$text: #CACACA!default;
$background: #08020D!default;
$light: #E0E0E0!default;
$dark-transparent: #3C3B3D!default;
$green: #34C176!default;
$orange: #F89202!default;
$violet: #5328A1!default;
$brown: #95390C!default;
