.similar-header {
  @include mg-reset;
  padding: 0 0 3rem;
  color: $white;
}

.artists {
  padding-bottom: 2rem;
  @extend %row;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 25px;
}

.artist {
  @extend %col;
  align-items: center;

  h3 {
    @include mg-reset;
    padding: 1rem 0 0;
    color: $white;
  }

  p {
    @include mg-reset;
  }
}

@media (max-width: 768px) {
  .artists {
    img {
      width: 140px;
    }

    p {
      width: 140px;
      word-break: keep-all;
      text-align: center;
    }
  }
  .similar-header {
    padding-top: 100px;
  }
}
