.artist-banner {
  h1 {
    @include mg-reset;
    margin-bottom: 1rem;
  }

  position: relative;
  padding: 250px 0 150px;
  z-index: 1;
}

.artist-banner::before {
  position: absolute;
  margin-top: -250px;

  width: 100%;
  height: 100%;

  background-image: url('../images/Morten Harket.png');
  background-position: center;
  background-size: cover;

  content: "";

  z-index: -1;
}

.artist-banner-group {
  padding: 0 120px;
}

.artist-header {
  h1 {
    color: $white;
  }

  p {
    @include mg-reset;
    padding-bottom: 3rem;
  }
}

.artist-links {
  padding-bottom: 100px;
  @extend %row;
  gap: 1.5rem;
}

.btn-artist {
  width: 140px;
  padding: 20px 30px;

  @extend %row;
  gap: 1rem;

  background-color: $violet;
  border-radius: 5px;

  a {
    font-size: 12.8px;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
  }

  img {
    filter: invert(1) hue-rotate(180deg)
  }
}

.btn-artist:nth-child(even) {
  background-color: $brown;
}

@media (max-width: 768px) {
  .artist-banner {
    padding: 225px 0 125px;
  }

  .artist-banner::before {
    margin-top: -225px;
  }

  .artist-banner-group {
    padding: 0 20px;
  }
  
  .artist-header {
    padding: 0;
  }
  .artist-banner {
    h1 {
      @include mg-reset;
    }
  }

  .artist-links {
    flex-direction: column;
  }
}
