.discography-header {
  @include mg-reset;
  padding: 0 0 3rem;
  color: $white;
}

.albums {
  padding-top: 3rem;
  @extend %row;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 25px;

  h3 {
    padding: 1rem 0 0;
    font: 18px/27px "Roboto Bold", sans-serif;
    text-transform: capitalize;
  }

  p {
    @include mg-reset;
    font: 16px/24px "Roboto Regular", sans-serif;
    color: $light;
  }
}

.album {
  @extend %col;
  align-items: start;
}

@media (max-width: 768px) {
  .albums {
    img {
      width: 137px;
    }

    h3 {
      width: 140px;
      word-break: keep-all;
      text-align: start;
    }

  }
}